name: Build
on: [push, workflow_dispatch]
jobs:
build:
runs-on: windows-latest
steps:
- uses: actions/checkout@v4
  - uses: actions/setup-dotnet@v4
    with:
      dotnet-version: '8.0.x'
  
  - run: dotnet restore Snaffler.sln
  
  - run: dotnet build Snaffler.sln --configuration Release --no-restore
  
  - run: dotnet publish Snaffler/Snaffler.csproj --configuration Release --runtime win-x64 --self-contained true --output ./output -p:PublishSingleFile=true
  
  - uses: actions/upload-artifact@v4
    with:
      name: Snaffler-Release
      path: ./output/*
